html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #F8F4EC;
}

/* navbar */
#nav-logo{
    width: 45px;
    height: 45px;
    margin-left: -15px;
}

#border-nav{
    display: block;
	background-color: #F67280;
	width: 100%;
	height: 3px;
	margin-top: -2px;
}

#navbar-text{
	font-family: 'Orbitron';
	font-weight: 700;
	font-size: 20px;
	color:#3168d8;
}
/* intro */

#img-tag{
    display: block;
    margin-top: -18px;
    width: 100%;
    /* height: 550px; */
}

#head-div{
    text-align: center;
    margin-bottom: 40px;
}

#header-text{
    text-align: center;
	font-size: small;
}

#details-text{
    text-align: center;
    font-size: small;
}

#special{
    text-align: center;
    background-image: linear-gradient(to top left, #355c7d, #6c5b7b);
}

/* details */
#details-row{
	margin-bottom: 70px;
}

#hr-bio{
	display: block;
	background-color: black;
	width: 15%;
	margin-top: 50px;
	align-content: center;
}

#coding{
	margin-bottom: 20px;
	text-align: justify;
	text-align: center;
	display: table-cell;
	/* margin-left: -700px; */

}

#code-text{
	font-size: 12px;
}

#design{
	margin-bottom: 20px;
	text-align: justify;
	text-align: center;
	display: table-cell;
	/* margin-left: -700px; */
}

#design-text{
	font-size: 12px;
}

#database{
	margin-bottom: 20px;
	text-align: justify;
	text-align: center;
	display: table-cell;
}

#database-text{
	font-size: 12px;
}

#details-container{
	align-items: center;
	margin: auto;
	width: 60%;
	max-width: fit-content;
	border-radius: 25px;
    text-align: center;
    background-image: linear-gradient(to top left, #355c7d, #6c5b7b);
}

#hr-details{
	display: block;
	background-color: #F67280;
	width: 15%;
	margin-top: 20px;
	align-content: center;
	margin-bottom: 60px;
}


/* details-2 */
#details-2-text{
	text-align: left;
	font-size: 28px;
}

#head-div-sec-2{
    text-align: left;
    margin-bottom: 40px;
}

#details-2-container{
	text-align: center;
    /* background-image: linear-gradient(to top left, #355c7d, #6c5b7b); */
	background-color: white;
	align-items: center;

}

#details-2-img{
	width: 50%;
	/* margin-top: -100px; */
}

#learn-more{
	border-radius: 30px;
	width: 80%;
	font-size: 18px;
	float: left;
	margin-left: 25px;
}

/* details-3 */
#details-3-text{
	text-align: left;
	font-size: 38px;
}


#details-3-img{
	width: 50%;
	/* margin-top: -100px; */
}

/* details-4 */
#details-4-img{
	width: 60%;
	/* margin-top: -100px; */
}

/* quotes */
#quotes{
    text-align: center;
    background-image: url("images/quotes-bg.png"), linear-gradient(to top left, #355c7d, #6c5b7b);
	background-repeat: no-repeat;
	background-size: cover;
}

#hr-quotes{
	display: block;
	background-color: #F67280;
	width: 15%;
	margin-top: 20px;
	align-content: center;
	margin-bottom: 30px;
}

#quotes-text{
    text-align: left;
	font-size: small;
}

#quote-name{
	/* margin-left: 80px; */
	text-align: center;
}

#ceo-img{
	width: 15%;
	border-radius: 50%;
}

#email, #email-text{
	color: white;
}

/* index-footer */
#index-footer{
	margin-bottom: auto;
}

/* login */
#login{
    text-align: center;
    background-image: linear-gradient(to top left, #355c7d, #6c5b7b);
}

#hr-login{
	display: block;
	background-color: #F67280;
	width: 15%;
	margin-top: 20px;
	align-content: center;
	margin-bottom: 30px;
}

#login-container{
	align-items: center;
	margin: auto;
	width: 80%;
	max-width: fit-content;
	border-radius: 25px;
    text-align: center;
    /* background-image: linear-gradient(to top left, #355c7d, #6c5b7b); */
}

#login-img{
	width: 10%;
	
}

.form-rounded{
	border-radius: 1rem;
	width: 85%;
	/* text-align: center; */
}

input{
	/* text-align: center; */
	margin: auto;
}

#footer-text{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.342);
}

#email-login, #email-text-login{
	color: black;
}

#login-footer{
    text-align: center;
    background-image: linear-gradient(to top left, #355c7d, #6c5b7b);
}

@media screen and (max-width: 100%){
    #img-tag, #learn-more, #socials{
        width: auto;
    }
}